body{
  background: url(images/bg.png)no-repeat center center fixed;
 background-size: 100%;
 background-size:cover;
}

@-webkit-keyframes mymove {
    0%   {right: 340px;}
    80%  {right:850px;}
    100% {right:850px;}
}
@-webkit-keyframes move {
    0%   {right: 340px;}
    80%  {right:850px;}
    100% {right:1330px;}
}

.boat2{
  width: 350px;
  position:absolute; bottom: 170px; right: 340px; z-index: 1;
  animation: mymove 5s;
  animation-fill-mode: forwards;
  
}

.cabbage{
  width: 150px;
position:absolute; bottom: 250px; right: 1150px;  z-index: 0;
animation: cabbagemove 5s;
  animation-fill-mode: forwards;

}

.sheep{
  width: 120px;
  position:absolute; bottom: 270px; right: 200px; z-index: 1;
}
.wolf{
  width: 250px;
  position:absolute; bottom: 230px; right: 300px; z-index: 0;
  animation: move 5s;
  animation-fill-mode: forwards;
}
img {
  max-width:100%;
 height:auto;
 max-height:100%;
}
p{
    font-size:25px;
    margin-top:45%;
  text-align:center;
  font-weight:bold;
    position:relative;
    
}